body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}
a {
	text-decoration: none;
}
.main-header {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	/*background-color: #f3f7f8;*/ 
}
.top-menu {
	background-color: #293449;
}
.search {
	font: inherit;
}
.top-menu a {
	font-size: 17px;
	font-style: bold;
	line-height: 18px;
	color: #ffffff;
}
.bg_order a {
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
	background-color: #63a63e;
}
.shop-description {
	font-size: 16px;
	font-style: italic;
	width: 200px;
	line-height: 20px;
	color: #ee3643;
}
.header-phone {
	font-style: bold;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	padding: 5px;
	border: 3px solid #ffffff;
}
.top-contacts p {
	font-size: 14px;
	font-style: bold;
	line-height: 24px;
	color: #32425c;
}
.login-inner a {
	font-style: bold;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}
.login-client a {
	font-style: bold;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}
.login-client a:active {
	opacity: 0.3;
}

.login-inner a:hover {
	color: #ee3643;
}
.login-inner a:active {
	color: #32425c;
	opacity: 0.3;
}
.login-inner li {
	list-style-type: none;
}
.catalog a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}
.catalog li {
	display: inline;
}
.drills {
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #ffffff;
}
.button_buy a {
	font: inherit;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #63a63e;
	text-transform: uppercase;
}
.button_buy button {
	font: inherit;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #32425c;
	background-color: #ffffff;
	border: 2px solid #63a63e;
	text-transform: uppercase;
}
.main-navigation a {
	font-size: 17px;
	font-style: bold;
	line-height: 17px;
	color: #ffffff;
	background-color: #293449;
}
.main-navigation li {
	display: inline;
	list-style-type: none;
}
.top-menu a:hover,
.main-navigation a:hover {
	background-color: #212a3a;
}
.login a:hover {
	color: #ee3643;
}
.bg_order a:hover,
.button_buy a:hover {
	background-color: #5fbb2d; 
}
.button_buy a:active {
	background-color: #518534;
}
.button_buy button:hover {
	border: 2px solid #32425c; 
}
.button_buy button:active {
	opacity: 0.3;
	outline: none;
	border: solid 2px rgba(50, 66, 92, 0.3);
}
.top-menu a:active {
	opacity: 0.6;
}
.bg_order a:active,
.main-navigation a:active {
	opacity: 0.5;
}
.login a:active {
	color: #000000;
	opacity: 0.3;
}
.producers legend,
.power-types legend{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-style: bold;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
}
.producers label:disabled {
	opacity: 0.4;
}
.producers label,
.power-types label{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
}
.power-types label:disabled {
	opacity: 0.4;
}
.cards h3 {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-style: bold;
	color: #000000;
}
.cards del {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-style: bold;
	color: #999999;
}
.cards li {
	list-style-type: none;
}
.about,
.contacts {
	color: #000000;
	background-color: #ffffff;
}
.about h2,
.contacts h2 {
	font-style: bold;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}
.about p,
.contacts p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}
.about a,
.contacts a {
	padding: 5px;
	font-style: bold;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
}
.about li {
	font-style: bold;
	font-size: 18px;
	line-height: 20px;
}
.logo-footer p {
	font-style: bold;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	background-color: #32425c;
}
.logo-footer a {
	font-style: bold;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	background-color: #32425c;
}
.footer-phone {
	color: #ffffff;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	background-color: #32425c;
}
.first-row li,
.second-row li {
	display: inline;
	text-align: right;
}
.first-row a {
	color: #ffffff;
	background-color: #32425c;
}
.second-row a {
	color: #ffda96;
	background-color: #32425c;
}
.bottom {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}
.links a {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
	background-color: #293449;
}
.first-row a:hover,
.second-row a:hover {
	text-decoration: underline;
}
.links a:hover {
	text-decoration: underline;
}
.links a:active {
	color: #ee3643;
	text-decoration: none;
}
.first-row a:active {
	color: #f1f5f7;
	opacity: 0.5;
	text-decoration: none;
}
.second-row a:active {
	color: #ffd180;
	opacity: 0.5;
	text-decoration: none;
}
.social_networks li {
	list-style-type: none;
}
.social_networks a {
	background-color: #212a3a;
	border-radius: 10px; 
}
.social_networks a:hover {
	background-color: #ee3643;
}
.social_networks a:active {
	background-color: #ee3643;
}

/* Grid's styles */

html,
body {
	min-width: 1200px;
	min-height: 3151px;
}
.main-header {
	display: flex;
	flex-direction: column;
	min-height: 320px;
	width: 100%;
	background-color: #f3f7f8;
	
}
.top-menu {
	display: flex;
	justify-content: center;
	min-height: 42px;
	width: 100%;
	background-color: #293449;
	margin-bottom: 46px;
}
.top-menu img {
	margin-left: 130px;
}
.search {
	margin-right: 100px;
}
.top-menu a {
	margin: 0px 50px;
}
.bg_order {
	margin-left: 0px;
	margin-right: 150px;
}
.main-navigaton {
	width: 940px;
	min-height: 60px;
}
.header-phone {
	align-items: center;
}
.container {
	display: flex;
	min-height: 60px;
	width: 940px;
	justify-content: center;
	margin-left: 50px;
	margin-bottom: 25px;
}
.container-2 {
	display: flex;
	width: 940px;
	margin-left: 130px;
	justify-content: space-between;
	background-color: #293449;
}
.container-2 li {
	padding: 0px 25px;
}
.shop-description {
	margin-right: 30px;
}
.login {
	justify-content: flex-end;
}

.container-3 {
	display: flex;
	width: 940px;
	justify-content: space-between;
	padding: 40px 20px 0px 40px;
	margin-left: 130px;
	margin-top: 2000px;
}
.about {
	width: 540px;
	min-height: 490px;
}
.contacts {
	width: 400px;
	min-height: 490px;
}

.main-footer {
	display: flex;
	min-height: 193px;
	width: 100%;
	background-color: #32425c;
}
.logo-footer {
	margin-left: 130px;
}

.container-4 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}
.first-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 600px;
	min-height: 80px;
	padding: 0px 20px;
}
.bottom{ 
	display: flex;
	background-color: #293449;
	width: 100%;
	justify-content: center;
	
 }
 .links {
 	display: flex;
 	flex-direction: row;
 	align-items: flex-end;
 	justify-content: space-around;
 	padding: 5px 5px;
 	width: 250px;
 }
.catalog {
	margin-left: 130px;
}
.drills {
	margin-left: 130px;
}
.container-5 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 0 auto;
	width: 940px;
	margin-bottom: 412px;
}
.container-6  ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 730px;
}